:root {
  --color-background: #0e5476;
  --color-circle-1: #eddb0c;
  --color-circle-2: #dde935;
  --color-circle-3: #d8e52a;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--color-background);
  overflow: hidden;
}

.background span {
  width: 18vmin;
  height: 18vmin;
  border-radius: 18vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: var(--color-circle-1);
  top: 31%;
  left: 88%;
  animation-duration: 33s;
  animation-delay: -5s;
  transform-origin: -9vw -20vh;
  box-shadow: -36vmin 0 5.224402546336088vmin currentColor;
}

.background span:nth-child(1) {
  color: var(--color-circle-2);
  top: 35%;
  left: 63%;
  animation-duration: 48s;
  animation-delay: -20s;
  transform-origin: -18vw -13vh;
  box-shadow: 36vmin 0 4.8637192573108265vmin currentColor;
}

.background span:nth-child(2) {
  color: var(--color-circle-1);
  top: 60%;
  left: 81%;
  animation-duration: 23s;
  animation-delay: -14s;
  transform-origin: 18vw -24vh;
  box-shadow: -36vmin 0 5.236817645374875vmin currentColor;
}

.background span:nth-child(3) {
  color: var(--color-circle-1);
  top: 84%;
  left: 53%;
  animation-duration: 34s;
  animation-delay: -33s;
  transform-origin: -16vw 17vh;
  box-shadow: 36vmin 0 5.454951769053002vmin currentColor;
}

.background span:nth-child(4) {
  color: var(--color-circle-3);
  top: 78%;
  left: 36%;
  animation-duration: 48s;
  animation-delay: -37s;
  transform-origin: -3vw -3vh;
  box-shadow: 36vmin 0 5.0388143722237135vmin currentColor;
}

.background span:nth-child(5) {
  color: var(--color-circle-1);
  top: 50%;
  left: 17%;
  animation-duration: 50s;
  animation-delay: -31s;
  transform-origin: -7vw -1vh;
  box-shadow: -36vmin 0 4.912022147419258vmin currentColor;
}

.background span:nth-child(6) {
  color: var(--color-circle-2);
  top: 40%;
  left: 69%;
  animation-duration: 25s;
  animation-delay: -48s;
  transform-origin: -19vw 13vh;
  box-shadow: 36vmin 0 5.4805404364103225vmin currentColor;
}

.background span:nth-child(7) {
  color: var(--color-circle-3);
  top: 82%;
  left: 64%;
  animation-duration: 40s;
  animation-delay: -8s;
  transform-origin: 4vw -12vh;
  box-shadow: 36vmin 0 5.3410870401448625vmin currentColor;
}

.background span:nth-child(8) {
  color: var(--color-circle-2);
  top: 49%;
  left: 64%;
  animation-duration: 7s;
  animation-delay: -42s;
  transform-origin: 3vw 12vh;
  box-shadow: -36vmin 0 4.742543701945086vmin currentColor;
}

.background span:nth-child(9) {
  color: var(--color-circle-3);
  top: 6%;
  left: 11%;
  animation-duration: 34s;
  animation-delay: -26s;
  transform-origin: 14vw 2vh;
  box-shadow: 36vmin 0 4.741228754877819vmin currentColor;
}

.background span:nth-child(10) {
  color: var(--color-circle-1);
  top: 6%;
  left: 86%;
  animation-duration: 53s;
  animation-delay: -9s;
  transform-origin: 12vw -2vh;
  box-shadow: 36vmin 0 5.185944367033711vmin currentColor;
}

.background span:nth-child(11) {
  color: var(--color-circle-3);
  top: 52%;
  left: 78%;
  animation-duration: 31s;
  animation-delay: -42s;
  transform-origin: -18vw 17vh;
  box-shadow: -36vmin 0 5.082538176122547vmin currentColor;
}

.background span:nth-child(12) {
  color: var(--color-circle-3);
  top: 72%;
  left: 22%;
  animation-duration: 52s;
  animation-delay: -13s;
  transform-origin: -18vw -9vh;
  box-shadow: -36vmin 0 5.431022361327872vmin currentColor;
}

.background span:nth-child(13) {
  color: var(--color-circle-1);
  top: 62%;
  left: 2%;
  animation-duration: 42s;
  animation-delay: -39s;
  transform-origin: -18vw 3vh;
  box-shadow: 36vmin 0 4.881088708439876vmin currentColor;
}

.background span:nth-child(14) {
  color: var(--color-circle-2);
  top: 70%;
  left: 3%;
  animation-duration: 35s;
  animation-delay: -6s;
  transform-origin: -7vw 7vh;
  box-shadow: 36vmin 0 4.7758068446404vmin currentColor;
}

.background span:nth-child(15) {
  color: var(--color-circle-2);
  top: 4%;
  left: 28%;
  animation-duration: 14s;
  animation-delay: -26s;
  transform-origin: 5vw 5vh;
  box-shadow: -36vmin 0 4.584216011464523vmin currentColor;
}

.background span:nth-child(16) {
  color: var(--color-circle-3);
  top: 63%;
  left: 66%;
  animation-duration: 48s;
  animation-delay: -37s;
  transform-origin: 23vw 0vh;
  box-shadow: 36vmin 0 4.7744079573489095vmin currentColor;
}

.background span:nth-child(17) {
  color: var(--color-circle-1);
  top: 40%;
  left: 39%;
  animation-duration: 39s;
  animation-delay: -5s;
  transform-origin: -12vw -24vh;
  box-shadow: -36vmin 0 5.09406979584057vmin currentColor;
}

.background span:nth-child(18) {
  color: var(--color-circle-1);
  top: 56%;
  left: 59%;
  animation-duration: 18s;
  animation-delay: -20s;
  transform-origin: 0vw -20vh;
  box-shadow: -36vmin 0 5.190953355535535vmin currentColor;
}

.background span:nth-child(19) {
  color: var(--color-circle-3);
  top: 68%;
  left: 54%;
  animation-duration: 49s;
  animation-delay: -16s;
  transform-origin: -7vw -13vh;
  box-shadow: -36vmin 0 4.531924535483341vmin currentColor;
}

.background span:nth-child(20) {
  color: var(--color-circle-1);
  top: 31%;
  left: 19%;
  animation-duration: 31s;
  animation-delay: -46s;
  transform-origin: -10vw -19vh;
  box-shadow: -36vmin 0 5.295520973267394vmin currentColor;
}

.background span:nth-child(21) {
  color: var(--color-circle-1);
  top: 88%;
  left: 50%;
  animation-duration: 42s;
  animation-delay: -28s;
  transform-origin: -22vw 1vh;
  box-shadow: -36vmin 0 4.836560946188632vmin currentColor;
}

.background span:nth-child(22) {
  color: var(--color-circle-3);
  top: 30%;
  left: 50%;
  animation-duration: 49s;
  animation-delay: -26s;
  transform-origin: -3vw 8vh;
  box-shadow: 36vmin 0 5.437227623728186vmin currentColor;
}

.background span:nth-child(23) {
  color: var(--color-circle-2);
  top: 97%;
  left: 31%;
  animation-duration: 18s;
  animation-delay: -13s;
  transform-origin: -20vw -1vh;
  box-shadow: 36vmin 0 5.445066644498169vmin currentColor;
}

.background span:nth-child(24) {
  color: var(--color-circle-3);
  top: 71%;
  left: 67%;
  animation-duration: 11s;
  animation-delay: -5s;
  transform-origin: 20vw -8vh;
  box-shadow: -36vmin 0 5.160057916903237vmin currentColor;
}

.background span:nth-child(25) {
  color: var(--color-circle-1);
  top: 79%;
  left: 94%;
  animation-duration: 8s;
  animation-delay: -35s;
  transform-origin: -17vw 21vh;
  box-shadow: -36vmin 0 5.074601211426696vmin currentColor;
}

.background span:nth-child(26) {
  color: var(--color-circle-1);
  top: 94%;
  left: 4%;
  animation-duration: 40s;
  animation-delay: -40s;
  transform-origin: 23vw 4vh;
  box-shadow: 36vmin 0 5.334483111742893vmin currentColor;
}

.background span:nth-child(27) {
  color: var(--color-circle-3);
  top: 21%;
  left: 36%;
  animation-duration: 25s;
  animation-delay: -17s;
  transform-origin: -6vw 18vh;
  box-shadow: -36vmin 0 5.222122931677962vmin currentColor;
}

.background span:nth-child(28) {
  color: var(--color-circle-2);
  top: 47%;
  left: 46%;
  animation-duration: 46s;
  animation-delay: -12s;
  transform-origin: -4vw 1vh;
  box-shadow: 36vmin 0 4.877973023513209vmin currentColor;
}

.background span:nth-child(29) {
  color: var(--color-circle-1);
  top: 94%;
  left: 100%;
  animation-duration: 9s;
  animation-delay: -29s;
  transform-origin: -4vw 11vh;
  box-shadow: 36vmin 0 4.595576616507958vmin currentColor;
}

.background span:nth-child(30) {
  color: var(--color-circle-1);
  top: 53%;
  left: 42%;
  animation-duration: 32s;
  animation-delay: -10s;
  transform-origin: -1vw -5vh;
  box-shadow: 36vmin 0 5.498599276326414vmin currentColor;
}

.background span:nth-child(31) {
  color: var(--color-circle-3);
  top: 13%;
  left: 1%;
  animation-duration: 26s;
  animation-delay: -12s;
  transform-origin: 5vw 24vh;
  box-shadow: 36vmin 0 4.742233797886451vmin currentColor;
}

.background span:nth-child(32) {
  color: var(--color-circle-3);
  top: 84%;
  left: 6%;
  animation-duration: 34s;
  animation-delay: -6s;
  transform-origin: -23vw 16vh;
  box-shadow: -36vmin 0 5.329108490281699vmin currentColor;
}

.background span:nth-child(33) {
  color: var(--color-circle-1);
  top: 53%;
  left: 79%;
  animation-duration: 28s;
  animation-delay: -49s;
  transform-origin: 3vw 0vh;
  box-shadow: 36vmin 0 4.549262522050412vmin currentColor;
}

.background span:nth-child(34) {
  color: var(--color-circle-2);
  top: 100%;
  left: 43%;
  animation-duration: 37s;
  animation-delay: -23s;
  transform-origin: -8vw 22vh;
  box-shadow: -36vmin 0 5.386905949894539vmin currentColor;
}

.background span:nth-child(35) {
  color: var(--color-circle-1);
  top: 68%;
  left: 7%;
  animation-duration: 13s;
  animation-delay: -34s;
  transform-origin: -15vw -16vh;
  box-shadow: 36vmin 0 4.677713774197519vmin currentColor;
}

.background span:nth-child(36) {
  color: var(--color-circle-3);
  top: 80%;
  left: 75%;
  animation-duration: 53s;
  animation-delay: -34s;
  transform-origin: -8vw 25vh;
  box-shadow: -36vmin 0 5.021333476584308vmin currentColor;
}

.background span:nth-child(37) {
  color: var(--color-circle-2);
  top: 68%;
  left: 76%;
  animation-duration: 46s;
  animation-delay: -7s;
  transform-origin: -24vw 17vh;
  box-shadow: 36vmin 0 4.6973709922166025vmin currentColor;
}

.background span:nth-child(38) {
  color: var(--color-circle-3);
  top: 59%;
  left: 1%;
  animation-duration: 40s;
  animation-delay: -40s;
  transform-origin: 14vw 3vh;
  box-shadow: -36vmin 0 4.811838152263589vmin currentColor;
}

.background span:nth-child(39) {
  color: var(--color-circle-1);
  top: 8%;
  left: 7%;
  animation-duration: 42s;
  animation-delay: -50s;
  transform-origin: -18vw 25vh;
  box-shadow: 36vmin 0 5.353770855240673vmin currentColor;
}

.background span:nth-child(40) {
  color: var(--color-circle-2);
  top: 45%;
  left: 48%;
  animation-duration: 38s;
  animation-delay: -36s;
  transform-origin: 18vw -21vh;
  box-shadow: 36vmin 0 5.230724745497841vmin currentColor;
}

.background span:nth-child(41) {
  color: var(--color-circle-1);
  top: 82%;
  left: 15%;
  animation-duration: 23s;
  animation-delay: -16s;
  transform-origin: 10vw 25vh;
  box-shadow: 36vmin 0 4.809205771717471vmin currentColor;
}

.background span:nth-child(42) {
  color: var(--color-circle-3);
  top: 59%;
  left: 50%;
  animation-duration: 19s;
  animation-delay: -5s;
  transform-origin: -6vw -24vh;
  box-shadow: -36vmin 0 4.665321384708435vmin currentColor;
}

.background span:nth-child(43) {
  color: var(--color-circle-2);
  top: 33%;
  left: 79%;
  animation-duration: 7s;
  animation-delay: -3s;
  transform-origin: -14vw 6vh;
  box-shadow: 36vmin 0 5.187663211405747vmin currentColor;
}

.background span:nth-child(44) {
  color: var(--color-circle-3);
  top: 32%;
  left: 81%;
  animation-duration: 48s;
  animation-delay: -22s;
  transform-origin: -4vw 12vh;
  box-shadow: 36vmin 0 5.490541000090888vmin currentColor;
}

.background span:nth-child(45) {
  color: var(--color-circle-3);
  top: 58%;
  left: 28%;
  animation-duration: 33s;
  animation-delay: -37s;
  transform-origin: -8vw -18vh;
  box-shadow: -36vmin 0 4.8550573786766975vmin currentColor;
}

.background span:nth-child(46) {
  color: var(--color-circle-2);
  top: 2%;
  left: 46%;
  animation-duration: 47s;
  animation-delay: -36s;
  transform-origin: 3vw -10vh;
  box-shadow: -36vmin 0 5.12491731057516vmin currentColor;
}

.background span:nth-child(47) {
  color: var(--color-circle-1);
  top: 70%;
  left: 52%;
  animation-duration: 7s;
  animation-delay: -22s;
  transform-origin: 2vw 17vh;
  box-shadow: -36vmin 0 5.0275517487713vmin currentColor;
}

.background span:nth-child(48) {
  color: var(--color-circle-2);
  top: 98%;
  left: 83%;
  animation-duration: 51s;
  animation-delay: -39s;
  transform-origin: -19vw -3vh;
  box-shadow: 36vmin 0 4.693000468910616vmin currentColor;
}

.background span:nth-child(49) {
  color: var(--color-circle-3);
  top: 41%;
  left: 72%;
  animation-duration: 6s;
  animation-delay: -37s;
  transform-origin: 5vw 20vh;
  box-shadow: 36vmin 0 5.223940466190657vmin currentColor;
}
