::selection {
  background: #799bc7;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  position: relative;
  width: 1515px;
  height: 3250px;
  background-color: #ffffff;
  overflow-y: hidden;
  overflow-x: auto;
}

/* Extra Small Devices (Phones, less than 576px) */
@media (max-width: 575px) {
  .home {
    zoom: 0.3;
  }
}

/* Small Devices (Phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .home {
    zoom: 0.5;
  }
}

/* Medium Devices (Tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .home {
    zoom: 0.57;
  }
}

.home .overlap {
  position: absolute;
  width: 1327px;
  height: 80px;
  top: 1682px;
  left: 102px;
}

.home .gradient {
  position: absolute;
  width: 1314px;
  height: 75px;
  top: 5px;
  left: 0;
}

.home .rectangle {
  position: absolute;
  width: 1327px;
  height: 74px;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 4px #00000040;
}

.home .text-wrapper {
  position: absolute;
  width: 713px;
  top: 15px;
  left: 27px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-group {
  position: absolute;
  height: 1364px;
  top: 0;
  left: -34px;
}

.home .div {
  position: absolute;
  height: 1364px;
  top: 0;
  left: 0;
}

.home .rectangle-2 {
  position: absolute;
  width: 1597px;
  height: 96px;
  top: 1261px;
  left: 0;
  background-color: #d9d9d9;
  box-shadow: 0px 20px 30px #0000004c;
}

.home .IMG {
  position: absolute;
  width: 1017px;
  height: 737px;
  top: 176px;
  left: 532px;
  object-fit: cover;
}

.home .img {
  position: absolute;
  width: 1515px;
  height: 538px;
  top: 826px;
  left: 34px;
}

.home .rectangle-3 {
  position: absolute;
  width: 395px;
  height: 387px;
  top: 876px;
  left: 603px;
  background-color: #ffffff;
  border-radius: 0px 0px 100px 100px;
}

.home .rectangle-69 {
  position: absolute;
  width: 396px;
  height: 387px;
  top: 876px;
  left: 122px;
  background-color: #ffffff;
  border-radius: 0px 0px 100px 100px;
}

.home .text-wrapper-69 {
  position: absolute;
  width: 287px;
  top: 1003px;
  left: 180px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #173e71;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.home .p {
  position: absolute;
  width: 287px;
  top: 1003px;
  left: 657px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #173e71;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.home .NEWS-UPDATES {
  position: absolute;
  width: 409px;
  top: 912px;
  left: 625px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #173e71;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-4 {
  position: absolute;
  width: 396px;
  height: 23px;
  top: 853px;
  left: 603px;
  background-color: #f3eed5;
  opacity: 0.5;
}

.home .intersect {
  height: 320px;
  top: 0;
  left: 34px;
  position: absolute;
  width: 1515px;
}

.home .text-wrapper-2 {
  position: absolute;
  width: 68px;
  top: 53px;
  left: 569px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .IMG-2 {
  position: absolute;
  width: 212px;
  height: 193px;
  top: 15px;
  left: 79px;
  object-fit: cover;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 132px;
  top: 53px;
  left: 736px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-4 {
  position: absolute;
  width: 132px;
  top: 52px;
  left: 902px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-5 {
  position: absolute;
  width: 389px;
  height: 60px;
  top: 45px;
  left: 1090px;
  background-color: #f2f2f2;
  border-radius: 49.5px;
}

.home .ellipse {
  position: absolute;
  width: 1783px;
  height: 667px;
  top: 628px;
  left: 1500px;
}

.home .group {
  position: absolute;
  width: 396px;
  height: 387px;
  top: 876px;
  left: 122px;
}

.home .rectangle-6 {
  position: absolute;
  width: 408px;
  height: 387px;
  top: 60px;
  left: 1822px;
}

.home .MISSION-VISION {
  position: absolute;
  width: 409px;
  top: 912px;
  left: 148px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #173e71;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  z-index: 1;
}

.home .college-student {
  position: absolute;
  width: 669px;
  top: 273px;
  left: 171px;
  text-shadow: 0px 5px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: #173e71;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 75px;
  white-space: nowrap;
}

.home .text-wrapper-5 {
  position: absolute;
  width: 491px;
  top: 502px;
  left: 244px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #173e71;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.home .img-2 {
  position: absolute;
  width: 72px;
  height: 2px;
  top: 84px;
  left: 561px;
}

.home .rectangle-7 {
  position: absolute;
  width: 1640px;
  height: 348px;
  top: 402px;
  left: 1655px;
}

.home .search {
  position: absolute;
  width: 38px;
  height: 39px;
  top: 55px;
  left: 1414px;
}

.home .rectangle-8 {
  position: absolute;
  width: 1550px;
  height: 136px;
  top: 557px;
  left: 1700px;
}

.home .rectangle-9 {
  position: absolute;
  width: 396px;
  height: 23px;
  top: 856px;
  left: 122px;
  background-color: #f3eed5;
  opacity: 0.5;
}

.home .rectangle-10 {
  position: absolute;
  width: 395px;
  height: 387px;
  top: 876px;
  left: 1084px;
  background-color: #ffffff;
  border-radius: 0px 0px 100px 100px;
}

.home .text-wrapper-6 {
  position: absolute;
  width: 287px;
  top: 1003px;
  left: 1142px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #173e71;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-7 {
  position: absolute;
  top: 912px;
  left: 1174px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #173e71;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-11 {
  position: absolute;
  width: 396px;
  height: 23px;
  top: 853px;
  left: 1083px;
  background-color: #f3eed5;
  opacity: 0.5;
}

.home .text-wrapper-8 {
  position: absolute;
  width: 287px;
  top: 1173px;
  left: 841px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #173e71;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.home .div-wrapper {
  position: absolute;
  width: 258px;
  height: 60px;
  top: 593px;
  left: 227px;
  border-radius: 49.5px;
  box-shadow: 0px 4px 4px #00000040;
  background: linear-gradient(180deg, rgb(43.43, 74.8, 115.81) 0%);
}

.home .text-wrapper-9 {
  position: absolute;
  width: 132px;
  top: 13px;
  left: 87px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: black;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-12 {
  position: absolute;
  width: 1471px;
  height: 264px;
  top: -747px;
  left: 1664px;
}

.home .text-wrapper-10 {
  position: absolute;
  width: 1012px;
  top: 1535px;
  left: 330px;
  text-shadow: 0px 5px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  background: linear-gradient(
    180deg,
    rgb(23, 62, 113) 0%,
    rgb(43.76, 117.96, 215) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 100px;
  letter-spacing: 0;
  line-height: 75px;
}

.home .text-wrapper-11 {
  position: absolute;
  width: 512px;
  top: 1459px;
  left: 523px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #173e71;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.home .rectangle-13 {
  position: absolute;
  width: 1px;
  height: 56px;
  top: 2065px;
  left: 1686px;
}

.home .frame {
  position: absolute;
  width: 1359px;
  height: 1126px;
  top: 1803px;
  left: 70px;
}

.home .overlap-group-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 1316px;
  background-color: #f6f6f6;
  padding: 20px;
}

.home .overlap-2 {
  position: relative;
  width: 597px;
  height: 100px;
  margin: 10px;
}

.home .rectangle-14 {
  position: absolute;
  width: 582px;
  height: 94px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px #0000001a;
}

.home .text-wrapper-12 {
  top: 52px;
  left: 49px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #646363;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .frame-2 {
  position: absolute;
  width: 16px;
  height: 94px;
  top: 0;
  left: 0;
  background-color: #ffe241;
}

.home .text-wrapper-13 {
  position: absolute;
  width: 548px;
  top: 11px;
  left: 49px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f5a93;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .chevron-down {
  position: absolute;
  width: 28px;
  height: 21px;
  top: 36px;
  left: 498px;
}

.home .overlap-3 {
  position: absolute;
  width: 595px;
  height: 103px;
  top: 199px;
  left: 45px;
}

.home .rectangle-15 {
  position: absolute;
  width: 580px;
  height: 94px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px #0000001a;
}

.home .text-wrapper-14 {
  top: 55px;
  left: 47px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #646363;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-15 {
  top: 14px;
  left: 47px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f5a93;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .chevron-down-2 {
  top: 39px;
  left: 496px;
  position: absolute;
  width: 28px;
  height: 21px;
}

.home .overlap-4 {
  position: absolute;
  width: 620px;
  height: 135px;
  top: 316px;
  left: 30px;
  /* background-image: url(./img/rectangle-31.svg); */
  background-size: 100% 100%;
}

.home .frame-3 {
  position: absolute;
  width: 16px;
  height: 95px;
  top: 15px;
  left: 15px;
  background-color: #ffe241;
}

.home .overlap-5 {
  position: absolute;
  width: 548px;
  height: 89px;
  top: 34px;
  left: 62px;
}

.home .text-wrapper-16 {
  top: 41px;
  left: 0;
  position: absolute;
  width: 548px;
  font-family: "Poppins-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #646363;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-17 {
  top: 0;
  left: 0;
  position: absolute;
  width: 548px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f5a93;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .chevron-down-3 {
  top: 25px;
  left: 449px;
  position: absolute;
  width: 28px;
  height: 21px;
}

.home .overlap-6 {
  position: absolute;
  width: 597px;
  height: 98px;
  top: 464px;
  left: 43px;
}

.home .rectangle-16 {
  position: absolute;
  width: 582px;
  height: 93px;
  top: 1px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px #0000001a;
}

.home .text-wrapper-18 {
  top: 50px;
  left: 49px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #646363;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-19 {
  top: 9px;
  left: 49px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f5a93;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .chevron-down-4 {
  top: 34px;
  left: 498px;
  position: absolute;
  width: 28px;
  height: 21px;
}

.home .overlap-7 {
  position: absolute;
  width: 597px;
  height: 97px;
  top: 598px;
  left: 43px;
}

.home .text-wrapper-20 {
  top: 49px;
  left: 49px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #646363;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-21 {
  top: 8px;
  left: 49px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f5a93;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .chevron-down-5 {
  top: 33px;
  left: 498px;
  position: absolute;
  width: 28px;
  height: 21px;
}

.home .overlap-8 {
  position: absolute;
  width: 597px;
  height: 101px;
  top: 730px;
  left: 43px;
}

.home .text-wrapper-22 {
  top: 53px;
  left: 49px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #646363;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-23 {
  top: 12px;
  left: 49px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f5a93;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .chevron-down-6 {
  top: 37px;
  left: 498px;
  position: absolute;
  width: 28px;
  height: 21px;
}

.home .overlap-9 {
  position: absolute;
  width: 595px;
  height: 95px;
  top: 863px;
  left: 45px;
}

.home .text-wrapper-24 {
  top: 47px;
  left: 47px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #646363;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-25 {
  top: 6px;
  left: 47px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f5a93;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .chevron-down-7 {
  top: 31px;
  left: 496px;
  position: absolute;
  width: 28px;
  height: 21px;
}

.home .overlap-10 {
  position: absolute;
  width: 595px;
  height: 94px;
  top: 863px;
  left: 702px;
}

.home .rectangle-17 {
  position: absolute;
  width: 580px;
  height: 94px;
  top: 0;
  left: 2px;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px #0000001a;
}

.home .text-wrapper-26 {
  top: 43px;
  left: 47px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #646363;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-27 {
  top: 2px;
  left: 47px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f5a93;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .overlap-11 {
  position: absolute;
  width: 622px;
  height: 134px;
  top: 720px;
  left: 687px;
}

.home .chevron-down-8 {
  top: 37px;
  left: 505px;
  position: absolute;
  width: 28px;
  height: 21px;
}

.home .rectangle-18 {
  position: absolute;
  width: 622px;
  height: 134px;
  top: 0;
  left: 0;
}

.home .text-wrapper-28 {
  top: 63px;
  left: 62px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #646363;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-29 {
  top: 22px;
  left: 62px;
  position: absolute;
  width: 548px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2f5a93;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.home .frame-4 {
  position: absolute;
  width: 16px;
  height: 94px;
  top: 15px;
  left: 13px;
  background-color: #ffe241;
}

.home .chevron-down-9 {
  top: 47px;
  left: 512px;
  position: absolute;
  width: 28px;
  height: 21px;
}

.home .overlap-12 {
  position: absolute;
  width: 597px;
  height: 100px;
  top: 70px;
  left: 700px;
}

.home .rectangle-19 {
  position: absolute;
  width: 580px;
  height: 94px;
  top: 1px;
  left: 2px;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px #0000001a;
}

.home .overlap-13 {
  position: absolute;
  width: 595px;
  height: 103px;
  top: 203px;
  left: 702px;
}

.home .overlap-14 {
  position: absolute;
  width: 620px;
  height: 135px;
  top: 320px;
  left: 687px;
  /* background-image: url(./img/rectangle-37.svg); */
  background-size: 100% 100%;
}

.home .overlap-15 {
  position: absolute;
  width: 597px;
  height: 98px;
  top: 468px;
  left: 700px;
}

.home .overlap-16 {
  position: absolute;
  width: 597px;
  height: 97px;
  top: 602px;
  left: 700px;
}

.home .chevron-down-10 {
  top: 32px;
  left: 498px;
  position: absolute;
  width: 28px;
  height: 21px;
}

.home .overlap-17 {
  position: absolute;
  width: 595px;
  height: 95px;
  top: 984px;
  left: 43px;
}

.home .footer {
  height: 500px;
  top: 2850px;
  left: 0;
  position: absolute;
  width: 1515px;
}
